.add__todo__popup {
	width: 50%;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #444;
	z-index: 100;
	border-radius: 10px;
	background-color: #222;
	box-shadow: 0 0 50px 5px rgba(39, 38, 38, 0.5);
}

.add__todo__popup .inputs {
	padding: 15px;
	border-bottom: 1px solid #444;
}
.add__todo__popup .title {
	width: 100%;
	margin-top: 5px;
	padding: 5px 10px;
	font-size: 22px;
	border: none;
	outline: none;
	color: #f1f1f1;
	background-color: transparent;
	letter-spacing: 0.5px;

	&::placeholder {
		color: #666;
	}
}

.add__todo__popup .details {
	width: 100%;
	margin-top: 5px;
	padding: 5px 10px;
	font-size: 14px;
	border: none;
	outline: none;
	color: #f1f1f1;
	background-color: transparent;
	resize: none;
	max-height: 92px;
	letter-spacing: 0.5px;

	&::placeholder {
		color: #666;
	}
}

.add__todo__popup .details::-webkit-scrollbar {
	width: 0;
}

.add__todo__popup .todo__datepicker {
	font-size: 16px;
	border: 2px solid #444;
	padding: 5px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
	color: #f1f1f1;
}

.add__todo__popup .footer {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.add__todo__popup .footer .category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	color: #f1f1f1;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 5px;

	&:hover {
		background-color: #444;
	}
}
.add__todo__popup .footer .category svg {
	fill: #f16b62;
}
.add__todo__popup .footer .buttons {
	display: flex;
	gap: 10px;
}
.add__todo__popup .footer .buttons button {
	font-size: 16px;
	font-weight: 500;
	padding: 8px 24px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	color: #f1f1f1;
}

.add__todo__popup .footer .buttons button:first-child {
	background-color: #444;

	&:hover {
		background-color: #555;
	}
}

.add__todo__popup .footer .buttons button:last-child {
	background-color: #f16b62;

	&:hover {
		background-color: #7e4444;
	}

	&:disabled {
		opacity: 0.3;
	}
	&:disabled:hover {
		cursor: not-allowed;
		background-color: #f16b62;
	}
}
