.appnav {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	height: 8vh;
}

.search__container {
	display: flex;
	align-items: center;
	position: relative;
}

.search__container input {
	height: 65%;
	width: 250px;
	border: none;
	outline: none;
	border-radius: 3px;
	padding-left: 0.5em;
	font-size: 18px;
	background-color: #b2b2b2;
}

.search__container input:focus {
	box-shadow: 0 0 20px 3px #444;
}

.appnav .account__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 250px;
}

.appnav .account_name {
	font-size: 18px;
	color: #f1f1f1;
}

.appnav .account__details img {
	border-radius: 200px;
	height: 50px;
	width: 50px;
	object-fit: cover;
	object-position: top;
}
