.header {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 0 auto;
	color: #f1f1f1;
	border-bottom: 2px solid #b7b7b7;
	line-height: 1.6rem;
}
.header button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.header svg {
	width: 20px;
	fill: #f1f1f1;
}
