.sidebar {
	width: 20%;
	background-color: #282828;
	height: 100vh;
	color: #f1f1f1;
	font-size: 16px;
	font-weight: 350;
	transition: all 0.3s ease;
}

.hide__sidebar {
	transform: translateX(-100%);
	z-index: 5;
}

.sidebar .content {
	padding: 15px 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.sidebar .content .account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	padding: 5px 3px;
	border-radius: 5px;
	margin-bottom: 12px;
}

.sidebar .account__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
	padding: 2px 5px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;

	&:hover {
		background-color: #3d3d3d;
	}

	&:active {
		scale: 0.95;
	}
}

.sidebar .account__info img {
	width: 25px;
	height: 25px;
	object-fit: cover;
	border-radius: 50px;
}

.sidebar .account__info svg {
	fill: #f1f1f1;
}

.sidebar .notification__btn {
	padding: 2px 5px;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		background-color: #3d3d3d;
	}

	&:active {
		scale: 0.95;
	}
}

.sidebar .toggle__btn {
	padding: 2px 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;

	&.toggled {
		transform: translateX(200%);
	}

	&:hover {
		background-color: #3d3d3d;
	}
}

.addtask {
	display: flex;
	align-items: center;
	gap: 5px;
	border-radius: 5px;
	padding: 5px 5px;
	cursor: pointer;
	color: #f16b62;

	&:hover {
		background-color: #3d3d3d;
	}
}

.addtask__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #f16b62;
}

.search {
	display: flex;
	align-items: center;
	gap: 5px;
	border-radius: 5px;
	padding: 5px 5px;
	cursor: pointer;
	letter-spacing: 0.5px;
	color: #f1f1f1;

	&:hover {
		background-color: #3d3d3d;
	}
}

.inbox a:link,
.inbox a:visited,
.today a:link,
.today a:visited,
.upcoming a:link,
.upcoming a:visited {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 0.5px;
	color: #f1f1f1;
	text-decoration: none;

	&:hover {
		background-color: #3d3d3d;
	}
}

.sidebar .selected {
	background-color: #4f2929;
	border-radius: 5px;
	&:hover {
		background-color: transparent;
	}
}

.search__btn,
.inbox__btn,
.today__btn,
.upcoming__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #f1f1f1;
}

.inbox__content,
.today__content,
.upcoming__content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.inbox__number,
.today__number,
.upcoming__number {
	color: #f16b62;
	font-size: 14px;
}
