.signup {
	display: flex;
	flex-direction: column;
	width: 65%;
	margin: 0 auto;
	/* background-color: red; */
}
.signup > div:first-child {
	margin-top: 24px;
	font-size: 18px;
	text-align: center;
}

.signup label {
	width: 100%;
	margin: 0 auto;
	margin-top: 8px;
	font-size: 14px;
}

.signup input {
	margin: 0 auto;
	margin-top: 8px;
	fill: none;
	background-color: transparent;
	height: 42px;
	width: 100%;
	outline: none;
	border: 2px solid #eee;
	border-radius: 2px;
	padding: 0 10px;
	color: #ddd;
	font-size: 24px;
	letter-spacing: 0.5px;
}

.signup .already__member {
	margin-top: 16px;
	font-size: 12px;

	text-align: center;
}

.already__member a:link,
.already__member a:visited {
	padding-left: 12px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
}
.already__member a:hover {
	color: #57c9a7;
}

.already__member a:active {
	color: #0ca678;
}

.signup button {
	height: 42px;
	margin-top: 16px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: transparent;
	color: #333;
	background-color: #0ca678;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.5px;
	cursor: pointer;
}
