.todo__item {
	list-style: none;
	display: flex;
	justify-content: space-between;
	color: #f1f1f1;
	align-items: center;
	position: relative;
	margin: 0 auto;
	min-height: 50px;
	width: 65%;
	border-bottom: 1px solid #444;

	&:hover {
		background-color: rgba(238, 196, 196, 0.2);
	}
}

.completed {
	opacity: 0.2;
}

.todo__checkmark {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 25px;
	height: 25px;
	border: 1px solid #333;
	position: relative;
	border-radius: 50px;
	transition: all 0.2s ease-in;
	background-color: #0ca678;

	&:hover {
		background-color: #444;
		cursor: pointer;
	}

	&:hover::after {
		opacity: 1;
	}

	&::after {
		opacity: 0;
		content: "\002714";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #f1f1f1;
	}
}

.todo__checkmark span {
	color: #f1f1f1;
}

.checked {
	animation: checked 0.2s ease;
}

.todo__item .todo__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 24px;
	cursor: pointer;
}

.todo__content .todo__title {
	font-size: 14px;
	line-height: 21px;
	margin: 2px 5px;
}

.todo__content .details {
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
	margin: 2px 5px;
}

.todo__item .due__date {
	font-size: 12px;
	color: #f16b62;
	margin: 2px 5px;
}

.todo__item .buttons {
	position: absolute;
	right: 5px;
	display: flex;
	gap: 5px;
}
.todo__item .buttons svg {
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0;
}
.todo__item:hover .buttons svg {
	opacity: 1;
}
.todo__item .buttons svg:first-child {
	fill: #f16b62;
}
.todo__item .buttons svg:last-child {
	fill: #0ca678;
}

@keyframes checked {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.2;
		background-color: #f16b62;
	}
	100% {
		scale: 1;
	}
}
